.captain-card {
  margin: 20px auto;
  line-height: 1.1;
  background-color: transparent;
  width: 250px;
  a {
    text-decoration: none;
  }
  .image {
    margin:auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    background-size: cover !important;
    background-position-y: center;
    background-position-x: center;
  }
  .content {
    padding: 10px 10px 5px 0px;
    .title {
      color: $gray-dark;
      font-size: 18px;
      font-weight: 700;
      display:flex;
      justify-content:center
    }
    .footer {
      font-size: 16px;
      padding: 0;
      background-color: transparent;
      line-height: 30px;
      .info {
        margin: auto;
        color: $gray;
      }
      div {
        display: inline-block;
      }
    }
    .big-height{
      height:100px;
    }
    .small-height{
      height: 40px
    }
  }
  .card-link {
    color: $gray;
    text-align: center;
  }
}

.ratio{
  color: $gray;
  background: $light-gray;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.game-card{
  text-decoration:none;
  color: $gray;
}

.game-card:hover{
  text-decoration:none;
  color: $gray;
}

.game{
  border: solid 1px #ccc;
  border-radius: 5px;
  // height: 150px;
  margin: 15px auto;
}

.game:hover{
  border: solid 1px $red;
  opacity: 0.5;
}

.players{
  display: flex;
  justify-content: space-around;
}

.game-avatar{
  margin: auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-size: cover !important;
    background-position-y: center;
    background-position-x: center;
}

.player-name{
  font-size:12px;
  text-align:center;
}

.versus{
  display:flex;
  align-items:center;
  margin-bottom: 15px;
  font-size: 25px;
  color: $red;
  width:10%;
}

.player_a, .player_b{
  width:45%;
}
